<div class="container">

  <h2>{{ movieId ? 'Edytuj film' : 'Dodaj nowy film' }}</h2>

  <form (ngSubmit)="onSubmit()">

    <div>
      <label for="title">Tytuł:</label>
      <input type="text" id="title" name="title" [(ngModel)]="title" required>
    </div>

    <div>
      <label for="rating">Ocena:</label>
      <input type="number" id="rating" name="rating" [(ngModel)]="rating" required>
    </div>

    <div>
      <label>
        <input type="checkbox" name="pegi" [(ngModel)]="pegi">
        Tylko dla dorosłych (PEGI)
      </label>
    </div>

    <button type="submit">Zapisz film</button>

    <button type="button" [routerLink]="['/genres', genreId]">Anuluj</button>

  </form>
</div>
